/* This line is importing the font 'Roboto'. DO NOT change line 2*/

body {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
}
header {
  width: 100%;
  height: 8rem;
  background: white;
  color: rgb(80, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-family: "Rock Salt", cursive;
  font-weight: normal;
}
button:focus {
  outline: 0;
}
header h1 {
  font-size: 48px;
}

.articles {
  margin-top: 95px;
}

.article {
  list-style-type: none;
}
.article button {
  color: rgb(97, 0, 0);
  background: transparent;
  border: none;
  width: 100%;
  list-style-type: none;
  font-family: "Special Elite", cursive;

  text-align: left;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;

  position: relative;
}

.article button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(145, 0, 0);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.article button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.article button h2::after {
  content: "+";
  display: inline-block;
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 0.5em;
  float: right;
  transition-duration: 1s;
}
.article button.open h2::after {
  display: inline-block;
  transition-duration: 1s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.article button:hover {
  background: #dddddd;
}

.panel {
  height: 0;
  max-height: 20rem;
  overflow: hidden;
}

.panel p {
  font-size: 1.5rem;
  margin: 1rem;
  font-family: "Scope One", serif;
}
.active {
  display: block;
  height: 20rem;
  overflow-y: scroll;
  transition: height 1.5s ease-out;
}
.active::-webkit-scrollbar {
  width: 20px;
}
.active::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.active::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 10px;
}
.active::-webkit-scrollbar-thumb:hover {
  background: #272727;
}

.close {
  height: 0;
  overflow: hidden;
  transition: height 1.5s ease-in;
}

.article h2 {
  font-size: 2rem;
  padding: 0;
  margin: 15px 0 0;
}

.scroll {
  max-height: 400px;
  overflow-y: scroll;
}
