/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
.header {
  width: 100%;
  height: 75px;
  background-color: #d32f2f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.header h1 {
  margin: 0;
  font-size: 48px;
}
.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
  transition: height 0.25s ease-in-out;
}
.article h2 {
  font-size: 28px;
  padding: 0;
  margin: 15px 0 0;
}
.article .date {
  margin: 0;
  font-size: 14px;
}
.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.article .expandButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  transform: translate(-50%);
  background-color: white;
}
.article-open {
  height: 400px;
}
.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.menu {
  display: block;
  position: fixed;
  top: 75px;
  width: 200px;
  height: 100vh;
  /* Ths give the height 100% of the screen or, '100% of View Height' */
  background-color: #d32f2f;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
  transform: translateX(-210px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}
.menu nav li {
  list-style-type: none;
  font-size: 18px;
  padding: 30px 0;
  color: white;
  text-align: center;
  cursor: pointer;
}
.menu nav li:hover {
  background: #c02929;
}
.menu--open {
  transform: translateX(0);
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
