/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
.header {
  width: 100%;
  height: 75px;
  background-color: #388E3C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header h1 {
  margin: 0;
  font-size: 48px;
}
.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.menu {
  display: block;
  position: fixed;
  opacity: 0;
  top: 75px;
  left: -360px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  width: 360px;
  background-color: #81C784;
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
}
.articles {
  margin-top: 20px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
.article h2 {
  font-size: 28px;
  padding: 0;
  margin: 15px 0 0;
}
.article .date {
  margin: 0;
  font-size: 14px;
}
.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.article .expandButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  transform: translate(-50%);
  background-color: white;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 7px;
  color: black;
  cursor: pointer;
  border: 1px solid lightgrey;
  background: #FFFEF7;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}
.new-article-btn {
  margin: 96px auto 0;
  border: 1px solid black;
  background: green;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.form-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 196px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0);
}
.form-modal .form-content {
  background-color: #FFFEF7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  transform: scale(0);
  border-radius: 20px;
}
.form-modal .form-content input {
  width: 90%;
  margin: 10px 0px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}
.form-modal .form-content input:focus,
.form-modal .form-content input:active {
  outline: none;
  border-color: #007fff;
}
.form-modal .form-content input textarea {
  width: 100%;
  margin: 10px 0px;
  padding: 15px;
  min-height: 200px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}
.form-modal .form-content input textarea:focus,
.form-modal .form-content input textarea:active {
  outline: none;
  border-color: #007fff;
}
.form-modal .form-content input button {
  border-radius: 10px;
  border: 1px solid #232323;
  margin: 10px 0px;
  padding: 15px;
  background-color: transparent;
  color: #232323;
  transition: all 0.275s;
  cursor: pointer;
}
.form-modal .form-content input button:hover {
  background-color: #232323;
  color: #f7f7f7;
}
.form-modal .form-content input button:focus,
.form-modal .form-content input button:active {
  outline: none;
}
.modal-show {
  display: block;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}
