/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
.header {
  width: 100%;
  height: 75px;
  background-color: #388E3C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header h1 {
  margin: 0;
  font-size: 48px;
}
.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.menu {
  display: block;
  position: fixed;
  top: 75px;
  left: -350px;
  width: 350px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #81C784;
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
  transition: left 500ms ease-in-out;
}
.menu--open {
  left: 0px;
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}
.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
  transition: height 500ms ease-in-out;
}
.article h2 {
  font-size: 28px;
  padding: 0;
  margin: 15px 0 0;
}
.article .date {
  margin: 0;
  font-size: 14px;
}
.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.article .expandButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  transform: translate(-50%);
  background-color: white;
}
.article-open {
  height: 450px;
}
.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.close-btn:hover {
  cursor: pointer;
}
.hide-article {
  display: none;
}
.new-article {
  height: 25px;
  transition: height 500ms ease-in-out;
  margin: 20px 10%;
  padding: 0 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
.new-article form {
  height: 300px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.new-article form h3 {
  margin: 0;
  margin-top: 10px;
}
.new-article form .title {
  width: 50%;
  height: 30px;
  font-size: 18px;
  outline: none;
}
.new-article form .paragraph {
  width: 100%;
  height: 150px;
  font-size: 16px;
  resize: none;
  outline: none;
}
.new-article form button {
  width: 300px;
  border: solid 1px black;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 50ms ease-in-out;
  outline: none;
}
.new-article form button:hover {
  cursor: pointer;
}
.new-article form button:active {
  transform: scale(0.95);
}
.new-article .add-btn {
  width: 96%;
  text-align: center;
  background: white;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.new-article .add-btn:hover {
  cursor: pointer;
}
.show-form {
  height: 350px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}
