.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 250px;
  height: 100%;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #8dbf8d;
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}
.menu--open {
  display: block;
}
