.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
  transition: height 500ms ease-in-out;

  h2 {
    font-size: 28px;
    padding: 0;
    margin: 15px 0 0;
  }

  .date {
    margin: 0;
    font-size: 14px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .expandButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 12px;
    color: grey;
    cursor: pointer;
    transform: translate(-50%);
    background-color: white;
  }
}

.article-open {
  height: 450px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(0,0,0,0.6);
}

.close-btn:hover {
  cursor: pointer;
}

.hide-article {
  display: none;
}
.new-article {
  //  height: 350px;
  height: 25px;
  transition: height 500ms ease-in-out;
  margin: 20px 10%;
  padding: 0 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;

  form {
    height: 300px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    h3 {
      margin: 0;
      margin-top: 10px;
    }

    .title {
      width: 50%;
      height: 30px;
      font-size: 18px;
      outline: none;
    }
    
    .paragraph {
      width: 100%;
      height: 150px;
      font-size: 16px;
      resize: none;
      outline: none;
    }

    button {
      width: 300px;
      border: solid 1px black;
      padding: 10px;
      margin-top: 20px;
      font-size: 16px;
      border-radius: 5px;
      transition: all 50ms ease-in-out;
      outline: none;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  .add-btn {
    width: 96%;
    text-align: center;
    background: white;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.show-form {
height: 350px;
}





