/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
@import '../Header/Header.less';

// Import Menu.less from the correct path into index.less (follow the example for Header.less if you’re not sure how to write the correct path)
@import '../Menu/Menu.less' ;

// Import Article.less from the correct path into index.less (follow the example for Header.less if you’re not sure how to write the correct path)
@import '../Article/Article.less' ;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}