/* This line is importing the font 'Roboto'. DO NOT change line 2*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
@import '../Header/Header.less';
@import '../Menu/Menu.less';
@import '../Article/Article.less';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fffef7;
}

.header {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: pink;
  }
  
  100% {
    background-color: lightseagreen;
  }
}

.page-thunder-to-text {
  position: relative;
  overflow: hidden;

  canvas {
      display: block;
  }

  input {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      display: block;
      outline: none;
      background-color: rgba(38, 50, 56, 0.2);
      color: #ffffff;
      border: none;
      width: 50%;
      min-width: 500px;
      max-width: 100%;
      margin: auto;
      height: 60px;
      line-height: 60px;
      font-size: 40px;
      padding: 0 20px;

      &:hover, &:focus {
          border: 1px solid rgba(38, 50, 56, 0.6);
      }

      &::-webkit-input-placeholder {
          color: rgba(#ffffff, 0.1);
      }
  }
}





  




