.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
.article h2 {
  font-size: 28px;
  padding: 0;
  margin: 15px 0 0;
}
.article .date {
  margin: 0;
  font-size: 14px;
}
.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.article .expandButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  transform: translate(-50%);
  background-color: white;
}
.article-open {
  height: 400px;
}
