
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;

}


.reg-form{

    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;

    h1{
        display: none;
    }

    form {
        
        width: 717px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        div{
            align-self: flex-start;
        }
    }


    



}

.btn-form {

    width: 200px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 8px rgba(158, 20, 20, 0.959);
    cursor: pointer;
    
    
    h1{
        color: white; 
        
    }

    .article-form {
        display: none;
    }

   
    


}

.publish-btn {
    cursor: pointer;
    width: 100px;
    height: 25px;
    background-color: white;
    
}