.formContainer {
  height: 700px;
  width: 35%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .formContainer__articleForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.4);
    border-radius: 12px;

    label {
      padding: 15px;
    }

    input {
      margin: 10px;
      width: 50%;
      height: 20px;
    }
  }
}

.contentInput {
  margin: 10px 0;
  width: 60%;
  height: 75px;
}
