.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.menu {
  display: block;
  position: fixed;
  top: 75px;
  width: 200px;
  height: 100vh; /* Ths give the height 100% of the screen or, '100% of View Height' */
  background-color: darken(#c0392b, 0%);
  z-index: 2; /* This set the layer level of the element, it has precendence over initial level of 1*/
  transform: translateX(-210px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu nav li {
  list-style-type: none;
  font-size: 18px;
  padding: 30px 0;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: darken(#c0392b, 5%);
  }
}

.menu--open {
  transform: translateX(0);
}
