.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.menu {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 350px;
  height: 100vh; /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #81c784;
  border: 1px solid #004d40;
  border-left: none;
  border-bottom: none;
  z-index: 2; /* This set the layer level of the element, it has precendence over initial level of 1*/
}

.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}

.menu--open {
  display: block;

  .keyframes(
    menu-slide-in;{from {opacity: 0; width: 0;} to {opacity: 1; width: 350px;}}
  );

  .animation(menu-slide-in 0.5s ease-out 1 normal);
}

.menu__list--open {
  .keyframes(
    links-appear;{0% {opacity: 0;} 99.9% {opacity: 0;} 100% {opacity: 1;}}
  );

  .animation(links-appear 0.5s ease-out 1 forwards);
}

.menu--closed {
  display: block;

  .keyframes(
    menu-slide-out;{from {opacity: 1; width: 350px;} to {opacity: 0; width: 0; display:
      none}}
  );

  .animation(menu-slide-out 0.5s ease-out 1 normal forwards);
}

.menu__list--closed {
  .keyframes(
    links-disappear;{0% {opacity: 1;} 0.01% {opacity: 0;} 100% {opacity: 0;}}
  );

  .animation(links-disappear 0.5s ease-out 1 forwards);
}
