@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}

.header {
  width: 100%;
  height: 75px;
  background-color: #a0001e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    // animation: nudge 5s linear infinite alternate;
  }
}
