.header {
  width: 100%;
  height: 75px;
  background-color: #388E3C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;

  // Used Native CSS Animations---->
  animation: pulse 3s 2;
  
  @keyframes pulse {
    0% {
      background-color: #16a085;
    }
    100% {
      background-color: #f4d03f;
    }
  }
//------------^^^^Changes the nav bar color from green to yellow
  h1 {
    margin: 0;
    font-size: 48px;
  }
}
